*{
    margin: 0px;
    padding: 0px;
}


body{
    font-family: Arial, Helvetica, sans-serif ;
}

a {
    text-decoration: none;
    color: #000000;
    display: block;
}

main, nav, article, aside, section, header,
footer{display: block;}

header {
    width: 100%;
    height: 123px;
    background-color: #f2e9e9;
    padding-top: 2px;

}

nav{
    height: 33px;
    margin: 40px auto;
    margin-left: 575px;

}

nav a {    
    font-family: Amiko;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    margin-right: 17px;
}

nav li{
    float: left;
    list-style: none;
    
}

nav a:hover{
    color: #e00a8e;
    font-weight: bold;
}


nav ul{
    margin-top: 20px;
    background-color: #f2e9e9;
}

footer{
    width: 100%;
    height: 41px;
    background-color: #000000;

}

.radspot {
    position: absolute;
    display: none;
    width: 14px;
    height: 14px;
    background: #F72828;
    border-radius: 12px;
    
}


/*<---layout1--->*/


#layout1 main{
    width: 881px;
    height: 860px;
    margin: 0px auto;
    background-color: #777777;
}


#layout1 .radspot  {
    position: absolute;
    display: block;
    left: 595px;
    top: 34px;
}



#layout1 .text{
    float: left;
    width: 50%;
    height: 120px;
    text-align: center;
    margin-top: 267px;
}

h1 {
    font-family: Amiko;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: normal;

}

h3 {
    font-family: Amiko;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: normal;
}

.boxes div{ 
    position: absolute;
    background-color: #ebef18;
}

#layout1 .boxes{
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    width: 50%;
    height: 860px;
    background-color:#777777;
}


#layout1 .box1{
    top: 135px;
    left: 0px;
    width: 75px;
    height: 23px;
}


#layout1 .box2{
    top: 166px;
    left: 0px;
    width: 136px;
    height: 46px;
}

#layout1 .box3{
    top: 223px;
    left: 0px;
    width: 134px;
    height: 404px;
}

#layout1 .box4{
    top: 638px;
    left: 0px;
    width: 88px;
    height: 28px;
}
#layout1 .box5{
    top: 673px;
    left: 0px;
    width: 25px;
    height: 26px;
}

#layout1 .box6{
    top: 673px;
    left: 32px;
    width: 25px;
    height: 26px;

}

#layout1 .box7{
    top: 135px;
    left: 149px;
    width: 246px;
    height: 352px;
    
}
#layout1 .box8{
    top: 503px;
    left: 149px;
    width: 123px;
    height: 212px;
    
}
#layout1 .box9{
    top: 503px;
    left: 286px;
    width: 55px;
    height: 105px;
    
}
#layout1 .box10{
    top: 615px;
    left: 286px;
    width: 110px;
    height: 58px;
    
}
#layout1 .box11{
    top: 503px;
    left: 382px;
    width: 55px;
    height: 105px;
    
}
#layout1 .box12{
    top: 91px;
    left: 409px;
    width: 28px;
    height: 55px;
    
}
#layout1 .box13{
    top: 157px;
    left: 409px;
    width: 28px;
    height: 55px;
    
}
#layout1 .box14{
    top: 223px;
    left: 409px;
    width: 28px;
    height: 55px;
    
}
#layout1 .box15{
    top: 289px;
    left: 409px;
    width: 28px;
    height: 198px;
    
}

.clear{
    clear: both;
}

/*<---layout2--->*/


#layout2 main{
    width: 1271px;
    height: 1860px;
    margin: 0 auto;
}


#layout2 .radspot  {
    position: absolute;
    display: block;
    left: 650px;
    top: 34px;
}
.boxes2 div{ 
    position: absolute;
    background-color: #c4c4c4;

}

#layout2 .boxes2{
    position: relative;
    width: 969px;
    height: 100%;
    margin-left: 6%;
}



#layout2 .box1{
    top: 119px;
    width: 457px;
    height: 299px;
}

#layout2 .box2{
    top: 488px;   
    width: 457px;
    height: 299px;
}

#layout2 .box3{
    top: 857px;   
    width: 457px;
    height: 299px;
}

#layout2 .box4{
    top: 1226px;   
    width: 457px;
    height: 299px;
}
#layout2 .box5{
    top: 1595px;   
    width: 457px;
    height: 299px;
}
#layout2 .box6{
    top: 287px; 
    left: 512px;  
    width: 457px;
    height: 299px;
}
#layout2 .box7{
    top: 656px;
    left: 512px;    
    width: 457px;
    height: 299px;
}
#layout2 .box8{
    top: 1025px; 
    left: 512px;   
    width: 457px;
    height: 299px;
}
#layout2 .box9{
    top: 1394px;
    left: 512px;    
    width: 457px;
    height: 299px;
}
#layout2 .box10{
    top: 1763px;
    left: 512px;    
    width: 457px;
    height: 299px;
}

#layout2 .asideColum {
    position: absolute;
    width: 169px;
    background: #EBEF18;
    height: 2100px;
    top: 123px;
    right: 0px;
}


#layout2 .blackBox1, .whiteBox, .blackBox2{
    position: relative;
    width: 80px;
    height: 80px;
}
.blackBox1{ 
    background-color: #000000;
    top: 119px;
}

.whiteBox{ 
    background-color: #ffffff;
    top: 247px;
    left: 89px;
}

.blackBox2 { 
    background-color: #000000;
    top:616px;
}

.MyName {
    width: 81px;
    height: 641px;
    margin-top: 1000px;
    margin-left: 44px;

    font-family: Amiko;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 128px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.MyName ul{
    list-style-type: none;
}


#layout2 footer{
    position: fixed;
    bottom: 0;
}

/*<---layout3--->*/



#layout3 .button{
    float: right;
    width: 80px;
    height: 80px;
    margin: 24px;
    background-color: #000000;
}

#layout3 .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
}



#layout3 main{
    float: left;
    width: 67vw;
    min-height: 100vh;
}



#layout3 .navleft{
    float: left;
    width: 25vw;
    width: 372px;
    height: auto;
    left: 0px;
    top: 123px;
    background: #E5E5E5;
}

#layout3 nav {
    margin-top: 123px;
    margin-left: 38px;
  }


#layout3 .radspot  {
    display: block;
    margin-left: 230px;
    margin-top: -80px;
}



#layout3 aside{
    float: right;
    width: 8vw;
    background: rgba(24, 239, 33, 0.3);

}

#layout3 .yellow{
    width: 100%;
    height: 463px;
    background: #EBEF18;
}

/*------for the dymamic boxex--------*/

#layout3 .box {
    background-color: #000000;
    float: left;
    margin: 123px 64px;
    text-align: center;
    font-weight: normal;
    line-height: normal;
  }

  .show p {
    color: #ffffff;
  ;
  }
  
  #layout3 .box.correct {
    background-color: #f858b0;
  }
  
  .box.correct p {
    color: #ffffff;
    }




  /*<----madia quary---->*/

  
@media (max-width: 768px) {

    #layout3 .wrapper {
        display: block;
    }

    #layout3 main {
        width: 100%;
        min-height: 100vh;
    }

    #layout3 .navleft {
      height: 105px;
      width: 100%;
    }
  
    #layout3 nav {
      margin-left: 25%;
      margin-top: 0;

    }
  
    #layout3 aside {
      display: none;
    }
  
  }






